    </main>
<footer>
    <hr>
    <p>© 2024 <a href="https://github.com/JohnKim0911" target="_blank"><strong>John Kim</strong></a> | 
        Supported by <a href="https://opentdb.com/api_config.php" target="_blank"><strong>Trivia API</strong></a> |
        Style referred from <a href="https://codepen.io/_rahul/pen/NWXjOXW" target="_blank"><strong>Rahul</strong></a></p>
</footer>

</body>

</html>