<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Trivia Quiz</title>
	<link rel="stylesheet" href="styles/main.css">
</head>

<body>
	<header>
		<h1><a href="/">Trivia Quiz</a></h1>
		<hr>
	</header>
	<main>