<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Mythology Quiz</title>
	<link rel="stylesheet" href="styles/main.css">
</head>

<body>
	<header>
		<h1>Mythology Quiz</h1>
		<hr>
	</header>
	<main>