<%- include("partials/header.ejs") %>
		
<h2>Choose difficulty</h2>
<div class="main-container difficulty-container">
	<div class="card">
		<form action="/setDifficulty" method="post">
			<button type="submit" name="difficulty" value="easy" id="easyBtn">Easy</button>
			<button type="submit" name="difficulty" value="medium" id="mediumBtn">Medium</button>
			<button type="submit" name="difficulty" value="hard" id="hardBtn">Hard</button>
		</form>
	</div>
</div>

<%- include("partials/footer.ejs") %>
