<%- include("partials/header.ejs") %>
		
<h2>Choose difficulty</h2>
<form action="/setDifficulty" method="post">
	<button type="submit" name="difficulty" value="easy">Easy</button>
	<button type="submit" name="difficulty" value="medium">Medium</button>
	<button type="submit" name="difficulty" value="hard">Hard</button>
</form>

<%- include("partials/footer.ejs") %>
