<%- include("partials/header.ejs") %>

	<h2>Your score: <%= score %> / <%= quizLength %></h2>

	<form action="/">
		<input type="submit" value="Try again">
	</form>
	
	<form action="/detailResult">
		<input type="submit" value="Detail result">
	</form>
	

<%- include("partials/footer.ejs") %>
