<%- include("partials/header.ejs") %>

<div class="main-container result-container">
	<div class="card">
		<h2>Your score: <%= score %> / <%= quizLength %></h2>

		<form action="/">
			<input type="submit" value="Try again">
		</form>
		
		<form action="/detailResult">
			<input type="submit" value="Detail result">
		</form>
	</div>
</div>

<%- include("partials/footer.ejs") %>
